.n_p{
	text-align: center;
	color: black;
    font-size: 19px;
    font-family: Courier;
} 
	
.left {
	float: left;
}

.right {
	float: right;
}
body{
	background-color:skyblue;
    margin: 0 auto;
                        }
                           
	
	


a {
	padding: 19px;
	background: #1111;
	color: black;
	font-family: Courier;
}

a:hover {
	background: #777;
}
	.form_box{
		
		 text-align:center;
            background-color: lightblue;
             margin: 0 auto;
             border-radius:40px;
              
             width:30%;
         height:750px;}

